body {
  margin: 0;
  background-color: #000;
  color: #5b5b5b;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

#content {
  max-width: 1024px;
  margin: 0 auto;
}

#hero-image {
}

#hero-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 5px;
}

#navbar .nav-item {
  margin: 0 15px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

#hero-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}

#hero-content {
  position: relative;
  height: 300px;
  width: 100%;
  background: url("../images/zack_header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

#nav-content {
  padding: 0 15px;
}

.hero-button {
  width: 32px;
  float: right;
}

.hero-button img {
  width: 32px;
}

.hidden {
  display: none;
}
