body {
  margin: 0;
  background-color: #000;
  color: #5b5b5b;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

#content {
  max-width: 1024px;
  margin: 0 auto;
  overflow-x:hidden;
}

#hero-image {
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 5px;
}

#navbar .nav-item {
  margin: 0 15px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

#hero-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#hero-content {
  position: relative;
  height: 300px;
  width: 100%;
  background: url("../images/zack_header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

#nav-content {
  padding: 0 15px;
}

#mobile-hero-image {
  display: none;
  width: 100%;
}

.hero-button {
  width: 32px;
  padding: 0 7px;
}

.hero-button img {
  width: 32px;
}

.hidden {
  display: none;
}

@media (max-width: 500px) {

  #hero-content {
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    height: initial
  }

  #hero-buttons {
    padding: 7px;
    position: relative;
    justify-content: center;
  }

  #mobile-hero-image {
    display: block;
  }

  #navbar {
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-button {
    width: 22px;
    padding: 0 10px;
  }

  .hero-button img {
    width: 22px;
  }

  .hidden-mobile {
    display: none;
  }

  .nav-item {
    margin-bottom: 5px;
  }
}